body {
     background-color: #9eafdc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color:#e0f7fa; 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
    width: 100%;
  }
  
  .counter {
    font-size: 48px;
    color: #00796b; 
    margin-bottom: 30px;
  }
  .counter h1{
    font-weight: bold;
    font-size: 4.5rem;
  }
  
  button {
    background-color: #008c7d; 
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 200px;
  }
  
  button:hover {
    background-color: #00695c; 
  }
  
  button:active {
    background-color: #004d40; 
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 20px;
      max-width: 90%;
    }
  
    button {
      font-size: 16px;
    }
  }

  